---
---

<header>
    <div class="logoenav"><figure>
      <img src="assets/images/logo.svg" alt="Logo Nathalia Góes" width="129" height="48">
    </figure>
    <nav class="menu">
      <ul>
        <li>
        <a href="#trajetoria">Minha trajetória</a>
        </li>
        <li>
        <a href="#projetos">Portfólio</a>
        </li>
        <li>
        <a href="#skills">Skills</a>
        </li>
        <li>
        <a href="#contato">Contato</a>
        </li>
      </ul>
    </nav></div>
  </header>