---
layout: projects
---
 <section id="projetos">
    <h2>Principais projetos</h2>
    <ul>
      <li>
        <div class="projeto1">
        <img src="assets/images/oitecnico.png"alt="Projeto Oi Técnico Virtual">
        </div>
      </li>
      <li>
        <div class="projeto2">
          <img src="assets/images/chefsclub.png"alt="Projeto ChefsClub">
      </div>
      </li>
      <li>
      <div class="projeto3">
          <img src="assets/images/altitudes.png"alt="Projeto Altitudes">
      </div>
      </li>
      <li>
      <div class="projeto4">
          <img src="assets/images/eschcafe.png"alt="Projeto Esch Café">
      </li>
      <li>
        <div class="projeto5">
          <img src="assets/images/simplex.png"alt="Projeto Simplex">
          </div>
      </li>
      </ul>
      
  </section>
